@model IEnumerable<iBalekaWeb.Models.Route>

@{
    ViewData["Title"] = "Saved Routes";


}

<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>

    <div class="row">
        <ul class="collection">
            @if (Model.Count() > 0)
            {
                foreach (var route in Model)
                {
                    string totalDistance = "";
                    if (route.Distance > 999)
                    {
                        totalDistance = Math.Round((route.Distance / 1000), 2).ToString() + "km";
                    }
                    else
                    {
                        totalDistance = route.Distance.ToString() + "m";
                    }

                    <li class="collection-item avatar">
                       

                        <p>

                            <a class="badge">
                                @Html.ActionLink(route.Title, "EditRoute", new { id = route.RouteId })


                            </a>
                        </p>

                        <div class="title">


                            @Html.ActionLink("Delete", "DeleteRoute", new { id = route.RouteId })



                        </div>

                    </li>

                }

            }
            else
            {
                <li class="mdl-typography--headline" style="text-align:center;">There are no Routes to Display</li>


            }
        </ul>

    </div>

    <div class="row">
        <a asp-action="Map" asp-controller="Map" class="btn waves-effect waves-light btn-large red accent-3">
            Create Route
            <i class="material-icons right">send</i>
            </a>
</div>
</div>



@*<div class="mdl-typography--headline" style="text-align:center;">Saved Routes</div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--12-col ">
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <ul class="list-group mdl-cell mdl-cell--12-col mdl-cell--8-col-desktop mdl-card mdl-shadow--3dp" id="routeList">
                    @if (Model.Count() > 0)
                    {
                     foreach (var route in Model)
                        {
                            string totalDistance = "";

                            if (route.Distance > 999) { totalDistance = Math.Round((route.Distance / 1000), 2).ToString() + "km"; } else { totalDistance = route.Distance.ToString() + "m"; }

                            <li class="list-group-item">
                                <span class="badge">
                                    @Html.ActionLink("Delete", "DeleteRoute", new { id = route.RouteId })

                                </span>
                                <span class="badge">@totalDistance</span>
                                @Html.ActionLink(route.Title, "EditRoute", new { id = route.RouteId })
                            </li>
                        }
                    }
                    else
                    {

                        <li class="mdl-typography--headline" style="text-align:center;">There are no Routes to Display</li>
                    }
                    </ul>
                <div class="mdl-layout-spacer"></div>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <a asp-action="Map" asp-controller="Map" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Create Route
            </a>
        </div>
    </div>*@
@section Scripts {
    <script src=@Url.Content("~/js/ibalekaMap.js")></script>
}
