@model iBalekaWeb.Models.Club
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using iBalekaWeb.Models
@{
    var totalmember = 0;
    var totalclub = 0;
}
<style>
    body {
        overflow-y: visible;
    }
</style>

<div class="row" style="padding-bottom:-5% !important;">
    <div class="col s12">
        <div class="card white black-text">
            <div class="card-content black-text">
                <div class="row">
                    <div class="col s12 center-align">
                        <span id="eventTiteText" class="card-title">Club Name: @Html.DisplayFor(model => model.Name)</span>
                        <br />
                        <span class="center-align flow-text">Club Description: @Html.DisplayFor(model => model.Description)</span>
                        <div class="fixed-action-btn vertical click-to-toggle right" style="position:relative !important; margin-top:-2%;right: 0%;">
                            <a class="btn-floating btn-large white accent-4">
                                <i class="material-icons" style="color:teal">more_vert</i>
                            </a>
                            <ul class="statsMenu" style="top:115% !important;">
                                <li><a asp-action="EditClub" asp-controller="Club" asp-route-id="@Model.ClubId" class="btn-floating tooltipped white accent-4" data-position="left" data-delay="150" data-tooltip="Edit Club"><i class="material-icons" style="color:teal">mode_edit</i></a></li>
                                <li><a asp-action="DeleteClub" asp-controller="Club" asp-route-id="@Model.ClubId" class="btn-floating tooltipped white accent-4" data-position="left" data-delay="150" data-tooltip="Delete Club"><i class="material-icons" style="color:teal">delete_forever</i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-action">
                        <div class="row">
                            <div class="col s12">
                                <ul class="white accent-4 tabs">
                                    <li class="tab col s3 white-text"><a class="active black-text" href="#members">Members</a></li>
                                    <li class="tab col s3 white-text"><a class="black-text" href="#events">Events</a></li>
                                    <li class="tab col s3 white-text"><a class="black-text" href="#eventsDetails">Club Details</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div id="members">
                @if (ViewBag.ClubMembers.Count > 0)
            {
                    <ul class="collection">
                        @foreach (ClubMember club in ViewBag.ClubMembers)
                        {
                            <li class="collection-item">
                                <div>
                                    @Html.ActionLink(club.Athlete.UserName + "- Joined on: " + club.DateJoined, "MemberDetails", new { id = club.MemberId })
                                    <a class="secondary-content" href=@Url.Action("DeRegisterMember", "Club", new { id = club.MemberId })>
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h5 class="center">Currently no Members in club</h5>
                }
            </div>
            <div id="events">
                @if (ViewBag.ClubEvents.Count > 0)
            {
                    <ul class="collection">
                        @foreach (Event club in ViewBag.ClubEvents)
                        {
                            <li class="collection-item">
                                <div>
                                    @Html.ActionLink(club.Title + "-" + club.Location, "EventDetails", "Event", new { id = club.EventId })
                                    <a class="secondary-content" href=@Url.Action("DeleteEvent", "Event", new { id = club.EventId })>
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h5 class="center">Currently no events made by club</h5>
                }
            </div>
            <div id="eventsDetails">

                <div class="center">

                    <span class="center-align flow-text">Club Location: @Html.DisplayFor(model => model.Location)</span>
                    <br />
                    <span class="center-align flow-text">Date Created: @Html.DisplayFor(model => model.DateCreated)</span>


                    @if (ViewBag.ClubMembers.Count > 0)
                    {


                        @foreach (ClubMember club in ViewBag.ClubMembers)
                        {
                            totalmember++;
                        }



                    }




                    @if (ViewBag.ClubEvents.Count > 0)
                    {


                        @foreach (Event club in ViewBag.ClubEvents)
                        {

                            totalclub++;
                        }



                    }

                    <br />

                    <span class="center-align flow-text">You have @totalmember members in your club and @totalclub events joined</span>

                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center">
            <a class="btn waves-effect waves-light btn-large teal lighten-1" asp-action="Clubs">
                Back to List
            </a>
        </div>
    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            var source = '@(ViewBag.SourcePageClub)';
            if (source != null) {
                if (source == "Edit") {
                    var $toastContent = $('<span>Club was successfully Updated...</span>');
                    Materialize.toast($toastContent, 5000);
                    source = null;
                }
            }
        });
    </script>



