@model iBalekaWeb.Models.Club
<style>
    body {
        overflow-y: visible;
    }
</style>

@{
    ViewData["Title"] = "Delete Club";


}

<div class="container">
    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>
    </div>
    <div class="row center-align">
        <p class="flow-text">Are you sure you want to delete this Club?</p>
    </div>
    <div class="row">
        <div class="col s6 left-align">
            <h5 class="left-align">Event Details</h5>
            <div class="row">
                @Html.LabelFor(model => model.ClubId, "Club ID", new { @class = "right-align flow-text" }):
                <span class="left-align flow-text">@Html.DisplayFor(model => model.ClubId)</span>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Name, "Name", new { @class = "right-align flow-text" }):
                <span class="left-align flow-text">@Html.DisplayFor(model => model.Name)</span>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Description, "Description", new { @class = "right-align flow-text" }):
                <span class="left-align flow-text">@Html.DisplayFor(model => model.Description)</span>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Location, "Location", new { @class = "right-align flow-text" }):
                <span class="left-align flow-text">@Html.DisplayFor(model => model.Location)</span>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.DateCreated, "DateCreated", new { @class = "right-align flow-text" }):
                <span class="left-align flow-text">@Html.DisplayFor(model => model.DateCreated)</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 left-align ">

            <a class="btn waves-effect waves-light btn-large red accent-3" asp-action="Clubs">
                Back to List
            </a>
        </div>
        <div class="col s6 right-align ">
            <form asp-action="Delete" method="post" role="form" class="center-align">
                <input type="hidden" id="ClubId" asp-for="ClubId" />
                <button id="btnDelete"class="btn modal-trigger waves-effect waves-light btn-large red accent-3" type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Club is now being deleted..</h4>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
</div>
@section Scripts {
    $(document).ready(function(){
            $("btnDelete").click(function(){
                $('#modal1').openModal();
            });
        });
}
