@model iBalekaWeb.Models.Club
@section AddToHead {

}

@{
    ViewData["Title"] = "Edit Club";


}
<div class="container">
    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>
    </div>
    <form asp-action="Edit" method="post" role="form" class="center-align">

        <div class="row center-align">
            <div asp-validation-summary="All" class="red-text text-darken-2"></div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => model.Name)
                <input type="text" class="validate" asp-for="Name">
                <span asp-validation-for="Name" class="red-text text-darken-2" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Description)

                <input type="text" class="validate" asp-for="Description">
                <span asp-validation-for="Description" class="red-text text-darken-2" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => model.Location)
                <input type="text" class="autocomplete" asp-for="Location">
                <span asp-validation-for="Location" class="red-text text-darken-2" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="btn waves-effect waves-light btn-large red accent-3" asp-action="Clubs">
                    Back to List
                </a>
            </div>
            <div class="input-field col s6">

                <input type="hidden" asp-for="ClubId" value="@Model.ClubId">
                <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated">
                <button onclick="EditClub()" id="btnSave" class="btn waves-effect waves-light btn-large red accent-3">
                    Finalize
                </button>
            </div>
        </div>
    
</div>

@section Scripts {
<script src="~/js/siteAjax.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        $(document).ready(function () {
            var clubObject = @Html.Raw(Json.Serialize(Model));
            loadClubObject(clubObject);
            $("btnSave").click(function () {

            });
        });
    </script>
}
