@model iBalekaWeb.Models.Club

@{
    ViewData["Title"] = "Finalize Club";
}
@*<form asp-action="CreateClub" method="post" role="form" class="center-align">*@

<div class="container">

    <div>
        <h3 class="center-align">@ViewData["Title"]</h3>

    </div>
    <div class="col s6 left-align">
        <div class="row">
            @Html.LabelFor(model => model.Name, "Club Name", new { @class = "right-align flow-text" }):
            <span class="left-align flow-text">@Html.DisplayFor(model => model.Name)</span>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Description, "Description", new { @class = "right-align flow-text" }):
            <span class="left-align flow-text">@Html.DisplayFor(model => model.Description)</span>
        </div>
        <div class="row">
            @Html.LabelFor(model => model.Location, "Location", new { @class = "right-align flow-text" }):
            <span class="left-align flow-text">@Html.DisplayFor(model => model.Location)</span>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <a class="btn waves-effect waves-light btn-large red accent-3" asp-action="AddClub">
                Back
            </a>
        </div>
        <div class="input-field col s6">
            <button id="btnSave" onclick="SaveClub()" class="btn waves-effect waves-light btn-large red accent-3">
                Create Club
            </button>
        </div>
    </div>
</div>







@section Scripts {
    <script src="~/js/siteAjax.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function(){
            var clubObject = @Html.Raw(Json.Serialize(Model));
            loadClubObject(clubObject);
            $("#btnSave").click(function(){
                $('#btnSave').prop('disabled', true);
                var $toastContent = $('<span>Saving Club...</span>');
                Materialize.toast($toastContent, 9000);
            });
        });
    </script>

}

