@using iBalekaWeb.Models.EventViewModels
@model iBalekaWeb.Models.EventViewModels.EventViewModel
@section AddToHead {
    <link href="~/css/chosen.css" rel="stylesheet" />

    <link href="~/lib/datedropper/datedropper.css" rel="stylesheet" />
    <link href="~/lib/timedropper/timedropper.css" rel="stylesheet" />
}

<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-3">
            <form asp-action="CreateEvent" method="post" role="form">
                <div class="form-horizontal">
                    <h4>Create Event - Add Details</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @Html.LabelFor(model => model.Title, new { @class = "mdl-textfield__label" })   <br />                        
                                @Html.TextBoxFor(model => model.Title, new { @class = "mdl-textfield__input" })
                                <span asp-validation-for="Title" class="text-danger" />                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @Html.LabelFor(model => model.Description, new { @class = "mdl-textfield__label" })<br />
                            
                                @Html.TextBoxFor(model => model.Description, new { @class = "mdl-textfield__input" })
                                <span asp-validation-for="Description" class="text-danger" />
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @Html.LabelFor(model => model.Date, new { @class = "col-md-4 mdl-textfield__label ",@style="text-align:center" })<br/>
                            <input type="text" id="datepicker" asp-for="Date">
                            <span asp-validation-for="Date" class="text-danger" />

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            @Html.LabelFor(model => model.Time, new { @class = "col-md-2 mdl-textfield__label ", @style = "text-align:center" })<br/><br/>

                            @*@Html.TextBoxFor(model => model.Time)*@
                            <input type="text" id="timepicker" asp-for="Time" style="text-align:center">
                            <span asp-validation-for="Time" class="text-danger" />

                        </div>
                    </div>
                    <div class="form-group">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                            @Html.LabelFor(model => model.Location, new { @class = "mdl-textfield__label" })<br />
                            @Html.TextBoxFor(model => model.Location, new { @class = "mdl-textfield__input" })

                            <span asp-validation-for="Location" class="text-danger" />

                        </div>
                    </div>
                    <div class="form-group" id="routeddList">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            
                                @Html.LabelFor(model => model.EventRoutes, new { @class = "col-md-2 mdl-textfield__label " , @style = "text-align:center" })<br /><br/>

                                @Html.ListBox("RouteId", ViewBag.UserRoutes as MultiSelectList, new { @class = "chzn-select", data_placeholder = "Choose  Routes..." })
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-6 col-md-8"></div>
                        <div class="col-xs-6 col-md-4">
                            <button type="submit" name="cmdButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Next
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Events">Back to List</a>
</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/datedropper/datedropper.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="~/js/eventsAjax.js"></script>
    <script src="~/lib/timedropper/timedropper.js"></script>

    <script>
        $(".chzn-select").chosen();
        var options = {
            format: "Y/m/d",
            placeholder: "Choose date",
            lock: "from",
            maxYear: @DateTime.Now.AddYears(1).ToString("yyyy"),
            minYear:@DateTime.Now.ToString("yyyy")
            };
        $("#datepicker").dateDropper(options);
        $("#timepicker").timeDropper();
    </script> @*Hookup Chosen Plugin*@

}
@*<script>
        var eventObject = @Html.Raw(Json.Serialize(Model));
        window.onload=(function(){
            loadEventOject(eventObject);
        });
    </script>*@
