@model iBalekaWeb.Models.EventViewModels.EventViewModel

<form asp-action="AddDetails" method="post">
    <div class="form-horizontal">
        <h4>Create Event - Add Details</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">

            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class = "control-label col-md-2" asp-for="Title"/>
                @*@Html.EditorFor(model => model.Title)*@
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="control-label col-md-2" asp-for="Description" />
                @*@Html.EditorFor(model => model.Description)*@
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="control-label col-md-2" asp-for="Date" />
                @*@Html.EditorFor(model => model.Date)*@
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="control-label col-md-2" asp-for="Time" />
                @*@Html.EditorFor(model => model.Time)*@
                <span asp-validation-for="Time" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="control-label col-md-2" asp-for="Location" />
                @*@Html.TextBoxFor(model => model.Location)*@
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" @*onclick="addDetails()"*@>Next</button>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Events">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/eventsAjax.js"></script>
}
<script>
    var eventObject = @Html.Raw(Json.Serialize(Model));
    window.onload=(function(){
        loadEventOject(eventObject);
    });
</script>
