@using iBalekaWeb.Models.EventViewModels
@model iBalekaWeb.Models.EventViewModels.EventViewModel

@{
    ViewData["Title"] = "Create Event";


}

@section AddToHead {
    <link href="~/css/chosen.css" rel="stylesheet" />

    <link href="~/lib/datedropper/datedropper.css" rel="stylesheet" />
    <link href="~/lib/timedropper/timedropper.css" rel="stylesheet" />
}



<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>

    <form asp-action="CreateEvent" method="post" role="form" class="center-align">

        <div class="row center-align">

            <div asp-validation-summary="All" class="red-text text-darken-2"></div>


        </div>

        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Title)
                <input type="text" class="validate" asp-for="Title">
                <span asp-validation-for="Title" class="red-text text-darken-2" />

            </div>


        </div>

        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Description)

                <input type="text" class="validate" asp-for="Description">
                <span asp-validation-for="Description" class="red-text text-darken-2" />

            </div>


        </div>

        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Date)
                <input type="text" id="datepicker" class="black-text text-darken-2" asp-for="Date">
                <span asp-validation-for="Date" class="red-text text-darken-2" />


            </div>


        </div>


        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Time)
                <input type="text" id="timepicker" class="black-text text-darken-2" asp-for="Time">
                <span asp-validation-for="Time" class="red-text text-darken-2" />



            </div>


        </div>


        <div class="row">
            <div class="input-field col s12">

                @Html.LabelFor(model => model.Location)
                <input type="text" class="validate" asp-for="Location">
                <span asp-validation-for="Location" class="red-text text-darken-2" />




            </div>


        </div>


        <div class="row">
            <div class="input-field col s12">
                @if (ViewBag.UserRoutes != null)
                {
                    @Html.ListBox("RouteId", ViewBag.UserRoutes as MultiSelectList, new { @class = "checked" })
                    @Html.LabelFor(model => model.RouteId)
                }
                else
                {
                    <label>No Route Set</label>
                }




                <span asp-validation-for="RouteId" class="red-text text-darken-2" />


            </div>


        </div>




        <div class="row">
            <div class="input-field col s6">

                <a class="btn waves-effect waves-light btn-large red accent-3" asp-action="Events">
                    Back to List
                </a>

            </div>

            <div class="input-field col s6">


                <button type="submit" name="cmdButton" class="btn waves-effect waves-light btn-large red accent-3">
                    Next
                </button>
            </div>


        </div>

    </form>
</div>








                        @*<div class="mdl-grid">
                           
                                    
                            
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" asp-action="Events">
                            Back to List
                        </a>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                    <div class="form-group mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                        <button type="submit" name="cmdButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Next
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </form>*@


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/lib/datedropper/datedropper.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="~/js/eventsAjax.js"></script>
    <script src="~/lib/timedropper/timedropper.js"></script>

    <script>
        $(".chzn-select").chosen();
        var options = {
            format: "Y/m/d",
            placeholder: "Choose date",
            lock: "from",
            maxYear: @DateTime.Now.AddYears(1).ToString("yyyy"),
            minYear:@DateTime.Now.ToString("yyyy")};
        $("#datepicker").dateDropper(options);
        $("#timepicker").timeDropper();
    </script> @*Hookup Chosen Plugin*@

}
@*<script>
        var eventObject = @Html.Raw(Json.Serialize(Model));
        window.onload=(function(){
            loadEventOject(eventObject);
        });
    </script>*@
