@model iBalekaWeb.Models.EventViewModels.EventViewModel
<style>
    body {
        overflow-y: visible;
    }
</style>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col ">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                <div class="mdl-typography--headline" style="text-align:center;">Are you sure you want to delete this Event?</div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>

        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <div class="mdl-typography--headline" style="text-align:center;">Event Details for @Model.Title</div>
                <hr />
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.EventId, "Event ID", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.EventId)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.UserID, "User ID", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.UserID)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.Title, "Title", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.Title)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.Description)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.Date, new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.Date)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.Time, new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.Time)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.Location, "Location"):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.Location)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.DateCreated, "Date Created", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.DateCreated)</span>
                    </div>

                </div>
                <div class="mdl-grid">

                    <div class="mdl-cell mdl-cell--12-col textDisplay" style="margin-top: -2%;">
                        @Html.LabelFor(model => model.DateModified, "Date Modified", new { @class = "control-label" }):
                        <span class="padDisplayLeft">@Html.DisplayFor(model => model.DateModified)</span>
                    </div>

                </div>

            </div>
            <div class="mdl-layout-spacer"></div>
            <br />
            <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-typography--headline" style="text-align:center;">Event Routes</div>
                <hr />
                <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <ul class="list-group mdl-cell mdl-cell--4-col mdl-cell--8-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone mdl-card mdl-shadow--3dp">
                        @foreach (var item in Model.EventRoutes)
                        {
                            string totalDistance = "";
                            //total distance conversion
                            if (item.Distance > 999)
                            {
                                totalDistance = Math.Round((item.Distance / 1000), 2).ToString() + "km";
                            }
                            else
                            {
                                totalDistance = item.Distance.ToString() + "m";
                            }
                            <li class="list-group-item">
                                <span class="badge">
                                    @totalDistance
                                </span>
                                @Html.ActionLink(@item.Title, "EditRoute", new { id = @item.RouteId })
                            </li>

                        }
                    </ul>
                    <div class="mdl-layout-spacer"></div>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>

        </div>
        <div class="mdl-grid evntButtons">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" asp-action="Events">
                    Back to List
                </a>
            </div>
            <div class="mdl-layout-spacer"></div>

            <div class="mdl-layout-spacer"></div>
            <div class="form-group mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" onclick="DeleteEvent()">Delete</button>
            </div>

        </div>
    </div>
</div>
<h3></h3>

<script>
    var eventId = @Html.Raw(Json.Serialize(Model.EventId));
    window.onload=(function(){
        loadDeletedEventId(eventId);
    });
</script>
@section Scripts {
    <script src="~/js/eventsAjax.js"></script>
}