@model iBalekaWeb.Models.EventViewModels.EventViewModel
@section AddToHead {
    <link href="~/css/chosen.css" rel="stylesheet" />
    
    <link href="~/css/jquery-ui-timepicker-addon.css" rel="stylesheet" />
}


<form asp-action="Edit" method="post">
    <div class="form-horizontal">
        <h4>Edit Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title)
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description)
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="datepicker" asp-for="Date">
                <span asp-validation-for="Date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Time)
                <input type="text" id="timepicker" asp-for="Time">
                <span asp-validation-for="Time" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Location)
                <span asp-validation-for="Location" class="text-danger" />
            </div>
        </div>
        <div class="form-group routeddList">
            @Html.LabelFor(model => model.EventRoutes, new { @class = "control-label col-md-2" })
            <div class="editor-field">
                @Html.ListBox("RouteId", ViewBag.UserRoutes as MultiSelectList, new { @class = "chzn-select", data_placeholder = "Choose  Routes..." })
            </div><br />

        </div>

    </div>
</form>
<div class="col-md-offset-2 col-md-10">
    <button class="btn btn-default" onclick="EditEvent()">Save</button><br />
    @Html.ActionLink("Cancel", "EventDetails", new { id = Model.EventId }) |
    <a asp-action="Events">Back to List</a>
</div>


@section Scripts {
    <script src="~/lib/datedropper/datedropper.js"></script>
    <script src="~/js/chosen.jquery.js"></script>
    <script src="~/js/eventsAjax.js"></script>
    <script src="~/lib/timedropper/timedropper.js"></script>
    
    <script>
        $(".chzn-select").chosen();
        var options = {
            format: "Y/m/d",
            placeholder: "Choose date...",
            lock: "from",
            maxYear: @DateTime.Now.AddYears(1).ToString("yyyy"),
            minYear:@DateTime.Now.ToString("yyyy")
            };
        $("#datepicker").dateDropper(options);
        $("#timepicker").timeDropper();
    </script> @*Hookup Chosen Plugin*@

}<script>
    var eventObject = @Html.Raw(Json.Serialize(Model));
    window.onload=(function(){
        loadEventObject(eventObject);
    });

</script>