@model iBalekaWeb.Models.EventViewModels.EventViewModel
@using iBalekaWeb.Models.EventViewModels
@using iBalekaWeb.Models
<style>
    body {
        overflow-y: visible;
    }
</style>
@{
    ViewData["Title"] = "Event Details";


}

<div class="row">
    <div class="col s12">
        <div class="card white black-text">
            <div class="card-content black-text">

                <div class="row">
                    <div class="col s12 center-align">
                        <span id="eventTiteText" class="card-title">Event Name: @Html.DisplayFor(model => model.Title)</span>
                        <br />

                        <span id="eventTiteText" class="card-title"> Event Description:  @Html.DisplayFor(model => model.Description)</span>

                    </div>
                </div>
                <div class="fixed-action-btn vertical click-to-toggle right" style="position:relative !important; margin-top:-9%;right: 0%;">
                        <a class="btn-floating btn-large white accent-4">
                            <i class="material-icons"style="color:teal">more_vert</i>
                        </a>
                        <ul class="statsMenu" style="top:115% !important;">
                            <li><a asp-action="EditEvent" asp-controller="Event" asp-route-id="@Model.EventId" class="btn-floating tooltipped white accent-4" data-position="left" data-delay="150" data-tooltip="Edit Event"><i class="material-icons" style="color:teal">mode_edit</i></a></li>
                            <li><a asp-action="DeleteEvent" asp-controller="Event" asp-route-id="@Model.EventId" class="btn-floating tooltipped white accent-4" data-position="left" data-delay="150" data-tooltip="Delete Event"><i class="material-icons" style="color:teal">delete_forever</i></a></li>
                        </ul>
                </div>
            </div>
            <div class="card-action">
                <ul class="white accent-4 tabs">
                    <li class="tab col s4"><a class="active black-text" href="#eventDetails">Event Details</a></li>
                    <li class="tab col s4"><a class="black-text" href="#registeredAthletes">Registered Athletes</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row" id="eventDetails">
    <div class="col s12 center-align">

                   
                        <span id="eventTiteText" class="flow-text">  Event Location: @Html.DisplayFor(model => model.Location)</span>
                        <br />
                        <span id="eventTiteText" class="flow-text">  Date Created : @Html.DisplayFor(model => model.DateCreated, "{dd/MM/yyyy}")</span>
                        <br />
                        <span id="eventTiteText" class="flow-text">  Route :</span>
                       
                        <span id="eventTiteText" class="flow-text">
                           


                            @foreach (EventRouteViewModel evntRoute in Model.EventRoutes)
                            {
                              

                                    <span class="flow-text">@evntRoute.Title</span>
                                   <span> </span>
                            
                            }

                           

                        </span>

                   
                    @*<div class="col s6">
                            <div class="row">
                                <div class="col s6">
                                    <div class="date">
                                        <span class="day">30</span>
                                        <span class="month">Jun</span>
                                        <span class="year">2009</span>
                                    </div>
                                </div>
                                <div class="col s6">
                                    <div class="time">
                                        <span class="hour">12</span>
                                        <span class="">:</span>
                                        <span class="minute">00</span>
                                        <span class="meridiem">PM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            @if (Model.EventRoutes.Count() > 0)
                            {
                                <div class="row">

                                    @foreach (EventRouteViewModel evntRoute in Model.EventRoutes)
                                    {
                                        <div class="col s3">

                                            <span>@evntRoute.Title</span>
                                            <br />
                                        </div>
                                    }
                                </div>
                            }
                        </div>*@
             
      
    </div>

</div>






<div class="row" id="registeredAthletes">
    <div class="col s12">
        <h5 class="center">Registered Athletes</h5>
        <div class="row">
            <div class="col s12">
                @if ((ViewBag.RegisteredAthletes as IEnumerable<EventRegistration>).Count() > 0)
                {
                    <ul class="collection">
                        @foreach (EventRegistration reg in ViewBag.RegisteredAthletes)
                        {
                            <li class="collection-item">@Html.ActionLink(reg.Athlete.Name + " " + reg.Athlete.Surname, "AthleteDetails", new { id = reg.Athlete.AthleteId })</li>
                        }
                    </ul>
                }
                else
                {
                    <h5 class="center">No Athletes Registered</h5>
                }

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 left-align center">
        <a class="btn waves-effect waves-light btn-large teal lighten-1" asp-action="Events">
            Back to List
        </a>
    </div>
    
</div>
<script src="/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {

        var source = '@(ViewBag.SourcePageEvent)';
        if (source != null) {
            if (source == "Edit") {
                var $toastContent = $('<span>Event was successfully Updated...</span>');
                Materialize.toast($toastContent, 5000);

                source = null;
            }
        }
    });
</script>
