@model iBalekaWeb.Models.EventViewModels.EventViewModel

<div class="form-horizontal">
    <h4>Finalize Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Title, "Title", new { @class = "control-label" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title, new { @class = "col-md-2 " })
        </dd>
        <dt>
            @Html.LabelFor(model => model.Description, "Description", new { @class = "control-label" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description, new { @class = "col-md-2 " })
        </dd>

        <dt>
            @Html.LabelFor(model => model.Date, new { @class = "control-label" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date, new { @class = "col-md-2 " })
        </dd>
        <dt>
            @Html.LabelFor(model => model.Time, new { @class = "control-label" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time, new { @class = "col-md-2 " })
        </dd>
        <dt>
            @Html.LabelFor(model => model.Location, "Location", new { @class = "control-label" })
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location, new { @class = "col-md-2 " })
        </dd>
    </dl>
    <ul class="list-group" id="eventRouteList">
        @foreach (var item in Model.EventRoutes)
            {
                string totalDistance = "";
                //total distance conversion
                if (item.Distance > 999) { totalDistance = Math.Round((item.Distance / 1000), 2).ToString() + "km"; } else { totalDistance = item.Distance.ToString() + "m"; }
                <li class="list-group-item">
                    <span class="badge">
                        @totalDistance
                    </span>
                    @item.Title
                </li>

        }
    </ul>


</div>

<div class="col-md-offset-2 col-md-10">
    <button class="btn btn-default" name="cmdButton" value="Back" onclick="back()" id="btnBack">Back</button>
    <button class="btn btn-default" name="cmdButton" value="Save" onclick="saveEvent()" id="btnSave">Finalize</button>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var eventObject = @Html.Raw(Json.Serialize(Model));
    window.onload=(function(){
        loadEventObject(eventObject);
    });
</script>
@section Scripts {
    <script src="~/js/eventsAjax.js"></script>
}

