@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "iBaleka Log in Portal";
}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-typography--headline" style="text-align:center;">@ViewData["Title"]</div>
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--12-col">
                                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div class="mdl-typography--display-1" style="text-align:center;">Login with iBaleka Credentials</div>
                                    <hr />
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="mdl-grid">
                                        <div class="form-group mdl-cell mdl-cell--10-col">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <label asp-for="Email" class="mdl-textfield__label"></label>

                                                <input asp-for="Email" class="mdl-textfield__input" />
                                                <span asp-validation-for="Email" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdl-grid">
                                        <div class="form-group mdl-cell mdl-cell--10-col">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <label asp-for="Password" class="mdl-textfield__label"></label>

                                                <input asp-for="Password" class="mdl-textfield__input" />
                                                <span asp-validation-for="Password" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdl-grid">
                                        <div class="form-group">
                                            <div class="mdl-cell mdl-cell--12-col">
                                                <div class="checkbox">
                                                    <label asp-for="RememberMe">
                                                        <input asp-for="RememberMe"/>
                                                        @Html.DisplayNameFor(m => m.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mdl-grid">
                                        
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Log in</button>

                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register as a new user?</a>

                                        </div>
                                        <div class="mdl-cell mdl-cell--4-col">
                                            <a asp-action="ForgotPassword" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Forgot your password?</a>

                                        </div>

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="mdl-cell mdl-cell--6-col">
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <div class="mdl-cell mdl-cell--12-col">
                                <section>
                                    <div class="mdl-typography--display-1" style="text-align:center;">Or Log in with social media account</div>
                               
                                    <hr />
                                    @{
                                        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                                        if (loginProviders.Count == 0)
                                        {
                                            <div>
                                                <p>
                                                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                                    for details on setting up this ASP.NET application to support logging in via external services.
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in loginProviders)
                                                        {
                                                            <button type="submit" class="btn btn-default" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                                </section>

                            </div>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                    </div>
                </div>

                <div class="mdl-layout-spacer"></div>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
            //$(function () {
            //    $("footer").hide(true);
            //    $("header").hide(true);
            //});

    </script>
    
}
