@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "iBaleka Log in Portal";
}


<div class="container">

    <div>
        <h2 class="center-align">@ViewData["Title"]</h2>

    </div>

    <div id="create-list-login-container" class="row create-list-button">

        <div class="col s12 m6 l6">
            <div class="create-list-login-panel center create-list-connect-btn">
                <p class="flow-text">Select an account to login.</p>
                <div>



                    @{
                        var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                        if (loginProviders.Count == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured.

                                </p>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <button type="submit" class="btn waves-effect waves-light btn-small red accent-3" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }






                </div>
            </div>

        </div>


        <div class="col s12 m6 l6 create-list-login-right">
            <div class="create-list-login-panel center">
                <div>

                    <div class="center">
                        <p class="flow-text">Login to account.</p>
                    </div>

                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col s12">

                        <div class="row center-align">


                            <div asp-validation-summary="All" class="red-text text-darken-2 "></div>




                        </div>

                        <div class="row">

                            <div class="input-field col s12">
                                <label asp-for="Email ">Email</label>

                                <input asp-for="Email" class="validate" />
                                <span asp-validation-for="Email" class="red-text text-darken-2"></span>

                            </div>

                        </div>


                        <div class="row">

                            <div class="input-field col s12">
                                <label asp-for="Password" class="active">Password</label>

                                <input asp-for="Password" class="validate" />
                                <span asp-validation-for="Password" class="red-text text-darken-2"></span>

                            </div>

                        </div>

                        <div class="row">

                            <div class="input-field col s12">
                                <button type="submit" class="btn waves-effect waves-light btn-small red accent-3">Log in</button>

                            </div>

                            <div class="input-field col s12">
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Register as a new user?</a>

                            </div>
                            <div class="input-field col s12">
                                <a asp-action="ForgotPassword" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Forgot your password?</a>

                            </div>

                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        //$(function () {
        //    $("footer").hide(true);
        //    $("header").hide(true);
        //});

    </script>

}
